
services:
  rabbitmq:
    image: rabbitmq:3.8-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
      - RABBITMQ_LOGS=debug
  
  postgres:
    image: postgres:13-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=db

  redis:
    image: redis:6-alpine
    ports:
      - "6379:6379"

  api-gateway:
    build: ./services/api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - rabbitmq
      - postgres
      - redis
    networks:
      - backend
  
  conversion-service:
    build: ./services/conversion-service
    ports:
      - "8080:8080"
    depends_on:
      - rabbitmq
      - postgres
      - redis
    networks:
      - backend

networks:
  backend:
    driver: bridge
